TOKEN_EXPIRATION_DURATION=PT60M
SMTP_USER=example@example.com
SMTP_PASS=emailpassword
SMTP_HOST=smtp.example.com
SMTP_PORT=587

INITIAL_ADMIN_NAME=Admin Initial
INITIAL_ADMIN_EMAIL=admin@ulaval.ca
INITIAL_ADMIN_IDUL=admin00
INITIAL_ADMIN_BIRTHDATE=1990-01-01
INITIAL_ADMIN_GENDER=female
INITIAL_ADMIN_PASSWORD=ChangeMe123!@#
