name: CD.yml
on:
  push:
    branches: [ main ]

jobs:
  build_and_deploy:
    name: Build and Deploy
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'corretto'
          java-version: '21'
          cache: 'maven'

      - name: Cache Maven dependencies
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Log into GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Compile
        run: mvn compile
        continue-on-error: false

      - name: Configure git
        run: |
          git config user.name  "${GITHUB_ACTOR}"
          git config user.email "${GITHUB_ACTOR}@users.noreply.github.com"

      - name: Add tag remiseX
        run: |
          git fetch --tags --force origin
          git tag -fa "$REMISE" -m "$REMISE"
          git push -f origin "$REMISE"
        env:
          REMISE: remise-3

      - name: Downcast repository name
        run: |
          echo "GITHUB_REPO_DOWN_CASTED=${GITHUB_REPOSITORY,,}" >>${GITHUB_ENV}

      - name: Generate Story tag
        run: |
          raw=$(git log -1 --pretty=%b | head -n1)
          
          sanitized=$(printf '%s' "$raw" \
            | tr '[:upper:]' '[:lower:]' \
            | tr ' ' '-' \
          )
          
          sanitized=$(echo "$sanitized" | sed 's/[^a-z0-9_.-]//g')
          
          if [ -z "$sanitized" ]; then
            sanitized="story-$(date +%s)"
          fi
          
          echo "STORY_TAG=$sanitized" >> "$GITHUB_ENV"

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64
          push: true
          tags: |
            ${{ env.IMAGE_NAME }}:${{env.LATEST_TAG}}
            ${{ env.IMAGE_NAME }}:${{env.STORY_TAG}}
          cache-from: type=registry,ref=${{ env.IMAGE_NAME }}:cache
          cache-to: type=registry,ref=${{ env.IMAGE_NAME }}:cache,mode=max
        env:
          LATEST_TAG: latest
          IMAGE_NAME: ghcr.io/${{ env.GITHUB_REPO_DOWN_CASTED }}