name: CI

on:     
  pull_request:

jobs:
  test:
    name: execute-tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with: { fetch-depth: 0 }
      - uses: actions/setup-java@v4
        with:
          distribution: 'corretto'
          java-version: '21'
          cache: maven
      - name: Run unit tests + JaCoCo
        run: mvn clean test jacoco:report
        continue-on-error: false
      - name: Upload JaCoCo Report
        uses: actions/upload-artifact@v4
        with:
          name: jacoco-report
          path: target/site/jacoco/**
          
  coverage:
    name: report-tests-coverage
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
        
      - name: Download JaCoCo report
        uses: actions/download-artifact@v4
        with:
          name: jacoco-report
          path: target/site/jacoco

      - name: Install diff-cover
        run: pip install diff-cover

      - name: Generate coverage report
        if: ${{ github.event_name == 'pull_request' }}
        run: |
          set +e
          mkdir -p reports
          git fetch origin ${{ github.base_ref }}
          diff-cover target/site/jacoco/jacoco.xml \
            --compare-branch=origin/${{ github.base_ref }} \
            --format html:reports/code-coverage.html || true
          
            
      - name: Upload New/Changed code coverage report
        if: ${{ github.event_name == 'pull_request' }}
        uses: actions/upload-artifact@v4
        with:
          name: new-code-coverage-report
          path: reports/code-coverage.html

  verify-code-style:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'corretto'
          cache: maven

      - name: Restore Maven Cache
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: maven-${{ hashFiles('**/pom.xml') }}
          
      - name: Spotless check
        run: mvn spotless:check -Dmaven.repo.local=$HOME/.m2/repository

  analyze-code-quality:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'corretto'
          java-version: '21'
          cache: maven

      - name: Analyze Code Quality wih PMD
        run: mvn verify -B
  
      - name: Upload PMD reports
        uses: actions/upload-artifact@v4
        with:
          name: pmd-reports
          path: target/site/pmd/pmd.html

  post-reports-to-pr:
    runs-on: ubuntu-latest
    needs: [analyze-code-quality, coverage]
    steps:
      - name: Download Diff-Coverage Report
        uses: actions/download-artifact@v4
        with:
          name: new-code-coverage-report
          path: reports/code-coverage.html
          
      - name: Download PMD Report
        uses: actions/download-artifact@v4
        with:
          name: pmd-reports
          path: target/site/pmd/pmd.html

      - name: Refer Reports link
        run: |
          {
          echo -e "\n---\n"
          echo "## Code Quality Report"
          echo "[⬇️ Download PMD report (HTML)](https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }})"
          } >> pr-comment.md

      - name: Find existing comment
        id: fc
        uses: peter-evans/find-comment@v3
        with:
          issue-number: ${{ github.event.pull_request.number }}
          comment-author: 'github-actions[bot]'
          body-includes: 'Code Quality' 
          
      - uses: peter-evans/create-or-update-comment@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          issue-number: ${{ github.event.pull_request.number }}
          comment-id: ${{ steps.fc.outputs.comment-id }}
          body-file: pr-comment.md
          edit-mode: replace
